<h1>Edit Data</h1>
<form action="/update/<%=data.id%>" method="post">
	Name: <input type="text" name="name" value="<%=data.name%>"><br>
	City: <input type="text" name="city" value="<%=data.city%>"><br>
	Email: <input type="text" name="email" value="<%=data.email%>"><br>
	Phone: <input type="text" name="phone" value="<%=data.phone%>"><br><br>
	<input type="submit" value="submit">
</from>